/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media all and (min-width: 1024px) {
  body {
    background-image: url(/img/bg-intro-desktop.png);
  }
  body .container {
    width: 80%;
    min-width: 812px;
    grid-gap: 10px;
    grid-template-columns: 1fr 1.4fr;
    grid-template-rows: 100px 100px;
    position: relative;
  }
  body .container .header {
    width: 35%;
    min-width: 282px;
    float: left;
    left: 95px;
    position: relative;
  }
  body .container .header h1 {
    width: 233px;
    height: 55px;
    font-size: 24px;
    text-align: left;
    line-height: 30px;
    margin: 170px 485px 20px 0;
  }
  body .container .header p {
    width: 100%;
    text-align: left;
    height: 100%;
    font-weight: 400;
    margin: 0 400px 0 0;
  }
  body .container .sub-header {
    width: 37%;
    min-width: 305px;
    float: right;
    height: 75px;
    padding-bottom: 12px;
    position: relative;
    right: 95px;
  }
  body .container .card {
    width: 37%;
    min-width: 305px;
    float: right;
    position: relative;
    right: 95px;
  }
  body .container .card form {
    width: 85%;
  }
  body .container .card .btn-form {
    width: 85%;
  }
  body .container .card .footer {
    width: 210px;
  }
}
* body {
  font-family: Poppins;
  font-size: 16px;
  background-color: #ff7a7a;
  background-image: url(/img/bg-intro-mobile.png);
}

.container {
  width: 87%;
  min-width: 330px;
  margin: 0 auto;
  top: 95px;
  position: relative;
}
.container .header {
  color: white;
  width: 94%;
  margin: 0 auto;
}
.container .header h1 {
  width: 58%;
  margin: 0 auto;
  margin-bottom: 18px;
  font-weight: 700;
  line-height: 26px;
  font-size: 20px;
  text-align: center;
}
.container .header p {
  margin-bottom: 37px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}
.container .sub-header {
  background-color: #6055a5;
  width: 87%;
  margin: 0 auto;
  color: white;
  border-radius: 10px;
  margin-bottom: 13px;
  box-shadow: 0 10px 0 0 rgba(95, 95, 95, 0.3);
  cursor: pointer;
}
.container .sub-header h2 {
  width: 63%;
  margin: 0 auto;
  font-weight: 600;
  line-height: 22px;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 18px;
}
.container .card {
  background-color: white;
  width: 87%;
  height: auto;
  margin: 0 auto;
  box-shadow: 0 10px 0 0 rgba(95, 95, 95, 0.3);
  border-radius: 5px;
  position: relative;
}
.container .card form {
  width: 77%;
  margin: 0 auto;
  padding-top: 26px;
}
.container .card form input {
  width: 100%;
  border-radius: 5px;
  height: 70px;
  margin-bottom: 17px;
  margin-top: 25px;
  border: 1px solid #b9b6d3;
  background-color: none;
  outline: 0 none;
}
.container .card form input::placeholder {
  color: #b9b6d3;
  font-weight: 600;
}
.container .card form input.active::placeholder {
  background-image: url(/img/icon-error.svg);
  background-repeat: no-repeat;
  background-position-x: 95%;
  height: 100%;
}
.container .card form .alert-name {
  color: #ff7a7a;
  font-weight: 400;
  text-align: right;
  font-size: 12px;
  float: right;
  visibility: hidden;
}
.container .card form .alert-last {
  color: #ff7a7a;
  font-weight: 400;
  text-align: right;
  font-size: 12px;
  float: right;
  visibility: hidden;
}
.container .card form .alert-mail {
  color: #ff7a7a;
  font-weight: 400;
  text-align: right;
  font-size: 12px;
  float: right;
  visibility: hidden;
}
.container .card form .alert-pass {
  color: #ff7a7a;
  font-weight: 400;
  text-align: right;
  font-size: 12px;
  float: right;
  visibility: hidden;
}
.container .card form .btn-form {
  width: 100%;
  border-radius: 5px;
  height: 70px;
  margin-bottom: 17px;
  margin-top: 25px;
  border: #38cc8c;
  background-color: #38cc8c;
  outline: 0 none;
  color: white;
  font-weight: 600;
  box-shadow: 0 5px 0 0 rgba(95, 95, 95, 0.3);
  cursor: pointer;
}
.container .card .footer {
  width: 70%;
  margin: 0 auto;
  font-weight: 400;
  font-size: 10px;
  text-align: center;
  color: #b9b6d3;
  line-height: 18px;
  padding-bottom: 15px;
}
.container .card .footer span {
  color: #ff7a7a;
}
.container .card input:focus {
  color: #3e3c49;
  font-weight: 600;
  padding-left: 20px;
}

/*# sourceMappingURL=style.css.map */
