/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import 'medias';


$font-1:400;
$font-2:500;
$font-3:600;
$font-4:700;


$red:hsl(0, 100%, 74%);
$green:hsl(154, 59%, 51%);
$blue:hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%); 
$Grayish-blue:hsl(246, 25%, 77%);



body{
    font-family:Poppins ;
    font-size: 16px;
    background-color: $red;
    background-image: url(/img/bg-intro-mobile.png);
}


.container{
    min-width: 325px;
    width: 87%;
    margin: 0 auto;
    top:95px;
    position: relative;

}

.header{     
    color: white;
    width: 94%;
    margin: 0 auto;

    h1{
        width: 58%;
        margin: 0 auto;    
        margin-bottom: 18px;
        font-weight: $font-4;
        line-height: 26px;
        font-size: 20px;
        text-align: center;
     
         }    
          p{         
            
              margin-bottom: 37px;
              font-weight: $font-1;
              line-height: 26px;
              text-align: center ;
              margin-bottom: 30px;
    }
}

.sub-header{
    background-color: $blue;
    width: 87%;
    margin: 0 auto;    
    color: white;
    border-radius: 10px;
    margin-bottom: 13px;
    box-shadow: 0 10px 0 0 rgba($color: #5f5f5f, $alpha: 0.3);
    cursor: pointer;

    h2{
        width: 63%;
        margin: 0 auto; 
        font-weight: $font-3;
        line-height: 22px;
        text-align: center ;
        padding: 20px 0;
        margin-bottom: 18px;

    }
}



@mixin box-form ($border, $background-color){
    width: 100%;
    border-radius: 5px;
    height: 70px;
    margin-bottom: 17px;
    margin-top: 25px;
    border: $border;
    background-color: $background-color;
    outline: 0 none;

}

.card{
    background-color: white;
    width: 87%;
    height: auto;
    margin: 0 auto; 
    box-shadow: 0 10px 0 0 rgba($color: #5f5f5f, $alpha: 0.3);
    border-radius: 5px;
    position: relative;
   
   
    form {
        width: 77%;
        margin: 0 auto; 
        padding-top:26px ;

        input{
            @include box-form(1px solid $Grayish-blue, none);
          

            &::placeholder{
                color:$Grayish-blue;
                font-weight: $font-3;
            }
            
            &.active{
                &::placeholder{
                    background-image: url(/img/icon-error.svg);
                    background-repeat: no-repeat;   
                    background-position-x: 95%; 
                    height: 100%;  
                      
                }
            }
        }
        .alert-name{
            color: $red;
            font-weight: $font-1;
            text-align: right;
            font-size: 12px;
            float: right;
            visibility: hidden;
        }

        .alert-last{
            color: $red;
            font-weight: $font-1;
            text-align: right;
            font-size: 12px;
            float: right;
            visibility: hidden;
        }
        .alert-mail{
            color: $red;
            font-weight: $font-1;
            text-align: right;
            font-size: 12px;
            float: right;
            visibility: hidden;

        }
        .alert-pass{
            color: $red;
            font-weight: $font-1;
            text-align: right;
            font-size: 12px;
            float: right;
            visibility: hidden;

        }

        .btn-form{
            @include box-form($green, $green);
            color:white;
            font-weight: $font-3;    
            box-shadow: 0 5px 0 0 rgba($color: #5f5f5f, $alpha: 0.3); 
            cursor: pointer;
        }      
    }

    .footer{
        width: 70%;
        margin: 0 auto;
        font-weight: $font-1;
        font-size: 10px;
        text-align: center;
        color: $Grayish-blue;
        line-height: 18px;
        padding-bottom: 15px;

            span{
                    color:$red ;
        }
    }


   
}



input:focus{
 
color: $dark-blue;
font-weight: $font-3;
padding-left: 20px;

}

/* 
:active label{
    @include box-form($red, none);
    display: inline-block;
        ::placeholder{
            color:$Grayish-blue;
            background-image: url(/img/icon-error.svg);
            background-repeat: no-repeat;      
       
} */

    



/* 



input:invalid{
    @include box-form($red, none);

    ::placeholder{
        color:$Grayish-blue;
        background-image: url(/img/icon-error.svg);
        background-repeat: no-repeat;      
    }

} */



